@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Poppins:wght@200;400;500;600;700;800;900&display=swap");

:root {
  --color-primary: #3a4d39;
  --color-secondary: #29973f;
  --color-white: #ffffff;
  --color-third: #42d680;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  min-height: 7000px;
  font-family: "inika", sans-serif;
}

#navbar {
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 9rem 1rem;
}
.navbar .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  flex: 0 0 40%;
  gap: 1rem;
}
.navbar .logo h5 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-primary);
}

.navbar .navLink {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  justify-content: center;
  align-items: center;

  padding: 10px;
}
.navbar .navLink ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: max-content;
}

.navbar .navLink ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  list-style: none;
}

.navbar .navLink ul li a {
  color: var(--color-primary);
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  padding: 8px 12px;
  display: block;
  border-radius: 4px;
}

.navbar .navLink ul li a:hover {
  color: #29973f;
}
.navbar .navLink ul li.dropdown {
  position: relative;
  display: inline-block;
}
.navbar .navLink ul li.dropdown:hover {
  color: var(--color-secondary);
}

.navbar .navLink ul li.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  z-index: 1;
}
.navbar .navLink ul li.dropdown .dropdown-content a:hover {
  padding-left: 1.5rem;
  color: var(--color-secondary);
}
.navbar .navLink ul li.dropdown i {
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.navbar .navLink ul li.dropdown.open i {
  transform: rotate(180deg);
}

/* hero section */

#hero {
  height: 100vh;
  background-image: url(img/Background.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: -999;
  position: relative;
  overflow: hidden;
}
.container-hero {
  padding: 14rem 12rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 3rem;
  position: relative;
  overflow: hidden;
}
.container-hero .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 40%;
  margin-bottom: 1rem;
}
.container-hero .content h1 {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-primary);
  margin: 1rem 0 2rem;
}
.container-hero .content p {
  font-size: 20px;
  color: var(--color-primary);
}
.container-hero .content button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  border-radius: 50px;
  background-color: var(--color-white);
  overflow: hidden;
  /* clip-path: circle(0%);
  transition: clip-path 2.5s cubic-bezier(0.25, 1, 0.3, 1); */
}

.container-hero .content button:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
  clip-path: circle(125%);
}

.container-hero .image img {
  position: absolute;
  flex: 0 0 40%;
  z-index: 2;
  overflow: hidden;
}
.container-hero .image img:nth-child(2) {
  position: relative;
  /* top: 13rem;
  right: 16rem; */
  z-index: 1;
}

/* about */
#about {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.container-about {
  width: 70%;
  margin: 12rem 12rem 12rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 5rem;
  position: relative;
  overflow: hidden;
}

.container-about .logo {
  display: flex;
  flex: 0 0 30%;
  justify-content: center;
  align-items: center;
  padding: 2rem auto 1rem;
}
.container-about .text-about {
  display: flex;
  flex: 0 0 40%;
  justify-content: start;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
.container-about .text-about h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-secondary);
  margin-bottom: 2rem;
}
.container-about .text-about p {
  font-size: 1.5rem;
  font-family: 900;
  color: var(--color-primary);
  text-align: center;
  line-height: 2.5rem;
  padding: 0 5rem;
  margin-bottom: 2rem;
}
.container-about .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem auto;
}

.container-about .btn button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 25px;
  color: var(--color-secondary);
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  z-index: 1;
  transition: color 0.8s ease-in-out, border 0.8s ease-in-out;
}

.container-about .btn button::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: var(--color-secondary);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.8s ease-in-out;
  z-index: -1;
  clip-path: circle(0%);
}

.container-about .btn button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  clip-path: circle(150% at bottom);
}

.container-about .btn button:hover {
  color: white;
  border: none;
}

@keyframes circle-in-bottom {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(150% at bottom);
  }
}

[transition-style="in:circle:bottom-left"] {
  animation: 2.5s ease-in-out circle-in-bottom both;
}
@keyframes circle-out-bottom-left {
  from {
    clip-path: circle(125%);
  }
  to {
    clip-path: circle(0% at bottom left);
  }
}

[transition-style="out:circle:bottom-left"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-out-bottom-left both;
}

/* visi-misi */
#visiMisi {
  height: 100vh;
  background-color: var(--color-third);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
  position: relative;
  overflow: hidden;
}
.container-visiMisi {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 6rem 6rem 6rem;
  gap: 5rem;
}
.container-visiMisi .vector {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  position: relative;
  flex: 0 0 50%;
}
.container-visiMisi .vector .image1 {
  position: absolute;
}
.container-visiMisi .vector .image2 {
  position: absolute;
  top: -0.75rem;
  left: 7.5rem;
}
.container-visiMisi .vector .image2 img {
  position: relative;
}
.container-visiMisi .vector .image2 .text {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.container-visiMisi .vector .image2 .text h1 {
  font-size: 3.5rem;
  color: var(--color-third);
  text-align: center;
}
.container-visiMisi .vector .image2 .text h5 {
  font-size: 0.75rem;
  color: #caa004;
  text-align: center;
}
.container-visiMisi .visi-misi {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  flex: 0 0 50%;
}
.container-visiMisi .visi-misi .vision {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 1rem;
}
.container-visiMisi .visi-misi .vision h1 {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.container-visiMisi .visi-misi .vision p {
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.5;
}
.container-visiMisi .visi-misi .mision {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem 1rem;
}

.container-visiMisi .visi-misi .mision h1 {
  color: var(--color-primary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.container-visiMisi .visi-misi .mision .mision-text {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin: 1rem 1rem;
}
.container-visiMisi .visi-misi .mision .mision-text img {
  width: 1.5rem;
  height: 1.5rem;
}
.container-visiMisi .visi-misi .mision .mision-text p {
  text-wrap: wrap;
  font-size: 1.25rem;
  color: var(--color-primary);
  line-height: 1.5;
}

/* schoold commite */
#school-commite {
  /* position: relative; */
  overflow: hidden;
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
}
.container-school-commite {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 6rem 6rem;
  gap: 5rem;
}
.container-school-commite .title,
.container-student-info .title {
  display: block;
  padding: 2rem;
}
.container-school-commite .title h1,
.container-student-info .title h1 {
  color: var(--color-primary);
  font-size: 3rem;
  text-align: center;
  line-height: 1.5;
  padding: 5px;
  text-decoration: underline 5px solid #000000;
  text-underline-offset: 1rem;
}

.container-school-commite .card,
.container-student-info .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}
.container-school-commite .card .card-view,
.container-student-info .card .card-view {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 400px;
  height: 420px;
  background-color: white;
  box-shadow: 5px 5px 10px #5f5c5c;
  position: relative;
}
.container-school-commite .card .card-view img {
  display: block;
  width: 80%;
  height: auto;
  position: absolute;
  top: 1.5rem;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}
.container-school-commite .card .card-view .commite {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.container-school-commite .card .card-view .commite h1 {
  font-size: 2.5rem;
  color: #000000;
  font-weight: 500;
  text-align: center;
}
.container-school-commite .card .card-view .commite p {
  font-size: 1.25rem;
  color: #000000;
  text-align: center;
}
.container-school-commite .card .card-view .commite::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 201, 201, 0.5);
  backdrop-filter: blur(10px);
  left: 0;
  right: 0;
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.5s ease-in-out;
}
.container-school-commite .card .card-view:hover img {
  transform: scale(0.8) translateY(-2rem);
}
.container-school-commite .card .card-view:hover .commite::before {
  clip-path: inset(100% 0 0 0);
}

@keyframes wipe-out-down {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(100% 0 0 0);
  }
}

[transition-style="out:wipe:down"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-out-down both;
}

/* student info */
#student-info {
  overflow: hidden;
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -999;
}
.container-student-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 6rem 6rem 6rem;
  gap: 5rem;
}
.container-student-info .card .card-view {
  background-image: url(img/komite-sekolah/DSC00780.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 0;
  height: 456px;
  cursor: pointer;
}
.container-student-info .card .card-view .text {
  position: absolute;
  display: block;
  top: 12rem;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
.container-student-info .card .card-view .text p {
  font-size: 1.25rem;
  color: var(--color-white);
  text-align: center;
}
.container-student-info .card .card-view .title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 45%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: height 0.5s ease-in-out;
}
.container-student-info .card .card-view:hover .title {
  height: 100%;
}
.container-student-info .card .card-view:hover .text {
  opacity: 1;
  visibility: visible;
}
.container-student-info .card .card-view .title .icon {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffd966;
  border-radius: 5px;
}
.container-student-info .card .card-view .title .icon img {
  width: 4rem;
  height: 4rem;
  color: #000000;
}
.container-student-info .card .card-view .title .activity-title {
  display: flex;
  align-items: center;
}
.container-student-info .card .card-view .title .activity-title h1 {
  color: var(--color-white);
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  padding: 5px;
  text-decoration: none;
}
#contact-us {
  display: flex;
  justify-content: center;
  height: 120vh;
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* overflow: hidden; */
}
.container-contact-us {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background-image: url(img/bg-contact-us.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 8rem;
  padding: 6rem 6rem 6rem;
}
.container-contact-us .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}
.container-contact-us .text img {
  width: 8rem;
  margin-bottom: 4rem;
}
.container-contact-us .text p {
  font-size: 4rem;
  color: #515151;
}
.container-contact-us .btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 2px solid #000000;
  border-radius: 50px;
}
.container-contact-us .btn a {
  font-size: 1.5rem;
  color: #000000;
}
/* footer */
#footer {
  display: flex;
  background-color: #e8f3d6;
  /* justify-content: center; */
  /* height: 120vh; */
  background-image: url(img/about-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  /* overflow: hidden; */
}
.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: #e8f3d6;
  width: 100%;
  border-radius: 50px 50px 0px 0px;
}
.top {
  display: flex;
  padding: 2rem 2rem 0rem;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px dashed var(--color-primary);
}
.top .social-media {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 3rem;
}
.top .social-media h5 {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 500;
}
.top .social-media .icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.top .social-media .icon a {
  color: var(--color-primary);
  margin-right: 1rem;
}
.top .social-media .icon a:hover {
  color: var(--color-secondary);
}
.top .alternatif-links {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 3rem;
  gap: 2rem;
}
.top .alternatif-links .beranda,
.top .alternatif-links .about,
.top .alternatif-links .informasi,
.top .alternatif-links .kontak {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-right: 1rem;
  gap: 2rem;
  height: max-content;
}
.top .alternatif-links .beranda h1,
.top .alternatif-links .about h1,
.top .alternatif-links .informasi h1,
.top .alternatif-links .kontak h1 {
  font-size: 1.5rem;
  color: var(--color-primary);
  font-weight: 500;
}
.top .alternatif-links .beranda a,
.top .alternatif-links .about a,
.top .alternatif-links .informasi a,
.top .alternatif-links .kontak a {
  font-size: 20px;
  color: #3a4d39;
}
.top .alternatif-links > * > a:hover {
  color: var(--color-secondary);
}
.text-footer {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 5rem;
  align-items: center;
}
.text-footer p {
  font-size: 4rem;
  color: var(--color-primary);
  font-weight: 700;
}

.down {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.down .copyrigt {
  font-size: 20px;
  color: #000000;
}
.down .social-media-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.down .social-media-links a {
  color: var(--color-primary);
}
.down .social-media-links a:hover {
  color: var(--color-secondary);
}

/* large media */
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

/* medium media */
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
/* small */
@media (max-width: 576px) {
}
